@charset "UTF-8";
/* CSS Document */
body, p, table, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, input, select, textarea {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 12px; }

body {
  font-family: "微软雅黑",Arial;
  background: #f4f4f4; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

img {
  border: 0; }

.pro_nav {
  overflow: hidden; }

.list_container {
  width: 1170px;
  margin: 15px auto 0 auto;
  padding: 0 20px;
  background: white; }

.list_head, .list_goods, .list_foot {
  width: 100%;
  border-bottom: 1px solid #ddd;
  overflow: hidden; }
  .list_head .input_conteiner, .list_goods .input_conteiner, .list_foot .input_conteiner {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 53px 0 36px; }
    .list_head .input_conteiner input, .list_goods .input_conteiner input, .list_foot .input_conteiner input {
      vertical-align: middle;
      width: 18px;
      height: 18px; }
      .list_head .input_conteiner input:hover, .list_goods .input_conteiner input:hover, .list_foot .input_conteiner input:hover {
        border-color: skyblue; }
  .list_head ul, .list_goods ul, .list_foot ul {
    float: left; }
    .list_head ul li, .list_goods ul li, .list_foot ul li {
      float: left;
      padding-top: 19px;
      width: 125px;
      text-align: center;
      cursor: pointer; }
    .list_head ul .goods_info, .list_goods ul .goods_info, .list_foot ul .goods_info {
      width: 560px;
      text-align: left; }
    .list_head ul .jine, .list_goods ul .jine, .list_foot ul .jine {
      width: 150px; }
    .list_head ul .active, .list_goods ul .active, .list_foot ul .active {
      width: 102px;
      font-size: 14px; }

.list_goods .cart_left_img {
  float: left; }

.list_goods .cart_goods_desc {
  float: left; }
  .list_goods .cart_goods_desc h5 {
    font-size: 18px; }
  .list_goods .cart_goods_desc p {
    padding: 8px 0;
    color: #999999; }
  .list_goods .cart_goods_desc span {
    color: #999999; }

.list_goods .shijia {
  color: red;
  font-size: 18px; }

.list_goods .zhekou {
  color: #999999;
  text-decoration: line-through; }

.jian, .add, .g_count {
  float: left; }

.g_count {
  width: 26px;
  height: 25px;
  padding-left: 15px;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  outline: none; }

.jian, .add {
  width: 20px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  border: 1px solid #ddd; }

.auto_box {
  padding-left: 20px; }

.g_price {
  color: red;
  font-size: 18px; }

#delete {
  padding-top: 22px; }

.list_foot {
  border-bottom: none; }

.select_go {
  float: left;
  width: 1063px; }

.choose {
  float: left; }

.cancel, .keeping {
  float: left;
  width: 53px;
  height: 54px;
  line-height: 54px;
  margin-right: 25px; }

.keeping {
  color: #333333; }

.go_right {
  float: right;
  height: 55px;
  line-height: 55px; }
  .go_right div {
    float: left; }

.jiesuan {
  display: inline-block;
  width: 120px;
  height: 55px;
  font-size: 22px;
  line-height: 55px;
  text-align: center;
  background: #e83733;
  color: white; }

.zong {
  width: 126px;
  height: 55px;
  margin-right: 10px; }
  .zong span {
    font-size: 20px;
    line-height: 55px;
    color: #e83733; }

.already_container {
  width: 110px;
  height: 55px;
  margin-right: 20px; }
  .already_container span {
    padding: 0 10px;
    font-size: 16px;
    color: #2e8ae3; }

#goodsId {
  display: none; }
